body {
  margin: 0;
  font-family: "Fire Code", monospace;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #0d263b;
  --secondaryColor: #696969;
  --activeColor: #0061df;

  --width: 1440px;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #0d263b;
}

.descrption {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #696969;
}

.center {
  display: flex;
  justify-content: center;
}

.nocopy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}